<table id="divDailyWeeklySchedule" style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; margin: auto 0; padding: 5px;">
    <tr>
        <td colspan="5" style="background-color: #d3d3d3; border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #0000ff; font-size: 18px; font-weight: bold; padding: 5px; text-align: left; vertical-align: top; width: 33%;">
            Daily / Weekly Schedule<a href="javascript: void(0);" onclick="javascript: document.getElementById('divUpcomingLinks').scrollIntoView();" style="color: #a54000; padding-left: 18px; text-decoration: underline;">Back to Top</a>
        </td>
    </tr>
    <tr>
        <td style="background-color: #d7e2e4; border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
            <span style="color: #0000ff; font-size: 15px; font-weight: bold;">Daily 9:30am</span><br />
            <span style="color: #a54000; font-size: 15px; font-weight: bold;">Gangadhareshwara (Shiva) Abhishekam</span>
            <br /><br />
            <a href="~/SVCCTempleSacramento/Sponsorship/1077" style="color: #0000ff; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">Click to enter Sankalpam</a>
        </td>
        @if (DateTime.Now.DayOfWeek == DayOfWeek.Tuesday)
        {
            <td style="background-color: #d3d3d3; border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
                <span style="color: #ff0000; font-size: 15px; font-weight: bold;">Tuesday 7pm</span><br />
                <span style="color: #a54000; font-size: 15px; font-weight: bold;">Gakara Ganapathy Sahasranamam</span>
                <br /><br />
                <a href="~/SVCCTempleSacramento/Sponsorship/1036" style="color: #0000ff; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">Click to enter Sankalpam</a>
            </td>
        }
        else
        {
            <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
                <span style="color: #ff0000; font-size: 15px; font-weight: bold;">Tuesday 7pm</span><br />
                <span style="color: #a54000; font-size: 15px; font-weight: bold;">Gakara Ganapathy Sahasranamam</span>
                <br /><br />
                <a href="~/SVCCTempleSacramento/Sponsorship/1036" style="color: #0000ff; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">Click to enter Sankalpam</a>
            </td>
        }
        @if (DateTime.Now.DayOfWeek == DayOfWeek.Thursday)
        {
            <td style="background-color: #d3d3d3; border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
                <span style="color: #0000ff; font-size: 15px; font-weight: bold;">Thursday 7pm</span><br />
                <span style="color: #a54000; font-size: 15px; font-weight: bold;">Shirdi Sai Aarthi</span>
                <br /><br />
                <a href="~/SVCCTempleSacramento/Sponsorship/1078" style="color: #0000ff; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">Click to enter Sankalpam</a>
            </td>
        }
        else
        {
            <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
                <span style="color: #0000ff; font-size: 15px; font-weight: bold;">Thursday 6:30pm</span><br />
                <span style="color: #a54000; font-size: 15px; font-weight: bold;">Shirdi Sai Aarthi</span>
                <br /><br />
                <a href="~/SVCCTempleSacramento/Sponsorship/1078" style="color: #0000ff; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">Click to enter Sankalpam</a>
            </td>
        }
    </tr>
    <tr>
        @if (DateTime.Now.DayOfWeek == DayOfWeek.Friday)
        {
            <td style="background-color: #d3d3d3; border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
                <span style="color: #ff0000; font-size: 15px; font-weight: bold;">Friday 10:30am</span><br />
                <span style="color: #a54000; font-size: 15px; font-weight: bold;">Saraswahti Abhishekam</span>
                <br /><br />
                <a href="~/SVCCTempleSacramento/Sponsorship/1037" style="color: #0000ff; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">Click to enter Sankalpam</a>
            </td>
        }
        else
        {
            <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
                <span style="color: #ff0000; font-size: 15px; font-weight: bold;">Friday 10:30am</span><br />
                <span style="color: #a54000; font-size: 15px; font-weight: bold;">Saraswahti Abhishekam</span>
                <br /><br />
                <a href="~/SVCCTempleSacramento/Sponsorship/1037" style="color: #0000ff; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">Click to enter Sankalpam</a>
            </td>
        }
        @if (DateTime.Now.DayOfWeek == DayOfWeek.Friday)
        {
            <td style="background-color: #d3d3d3; border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
                <span style="color: #0000ff; font-size: 15px; font-weight: bold;">Friday 10:30am</span><br />
                <span style="color: #a54000; font-size: 15px; font-weight: bold;">Lakshmi Abhishekam</span>
                <br /><br />
                <a href="~/SVCCTempleSacramento/Sponsorship/1038" style="color: #ff0000; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">Click to enter Sankalpam</a>
            </td>
        }
        else
        {
            <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
                <span style="color: #0000ff; font-size: 15px; font-weight: bold;">Friday 10:30am</span><br />
                <span style="color: #a54000; font-size: 15px; font-weight: bold;">Lakshmi Abhishekam</span>
                <br /><br />
                <a href="~/SVCCTempleSacramento/Sponsorship/1038" style="color: #ff0000; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">Click to enter Sankalpam</a>
            </td>
        }
        @if (DateTime.Now.DayOfWeek == DayOfWeek.Saturday)
        {
            <td style="background-color: #d3d3d3; border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
                <span style="color: #ff0000; font-size: 15px; font-weight: bold;">Saturday 9am</span><br />
                <span style="color: #a54000; font-size: 15px; font-weight: bold;">Venkateswara Suprabatham</span>
            </td>
        }
        else
        {
            <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
                <span style="color: #ff0000; font-size: 15px; font-weight: bold;">Saturday 9am</span><br />
                <span style="color: #a54000; font-size: 15px; font-weight: bold;">Venkateswara Suprabatham</span>
            </td>
        }
    </tr>
    <tr>
        @if (DateTime.Now.DayOfWeek == DayOfWeek.Saturday)
        {
            <td style="background-color: #d3d3d3; border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
                <span style="color: #0000ff; font-size: 15px; font-weight: bold;">Saturday 10am</span><br />
                <span style="color: #a54000; font-size: 15px; font-weight: bold;">Navagraha Abhishekam</span>
                <br /><br />
                <a href="~/SVCCTempleSacramento/Sponsorship/1039" style="color: #ff0000; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">Click to enter Sankalpam</a>
            </td>
        }
        else
        {
            <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
                <span style="color: #0000ff; font-size: 15px; font-weight: bold;">Saturday 10am</span><br />
                <span style="color: #a54000; font-size: 15px; font-weight: bold;">Navagraha Abhishekam</span>
                <br /><br />
                <a href="~/SVCCTempleSacramento/Sponsorship/1039" style="color: #ff0000; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">Click to enter Sankalpam</a>
            </td>
        }
        @if (DateTime.Now.DayOfWeek == DayOfWeek.Saturday)
        {
            <td style="background-color: #d3d3d3; border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
                <span style="color: #ff0000; font-size: 15px; font-weight: bold;">Saturday 11am</span><br />
                <span style="color: #a54000; font-size: 15px; font-weight: bold;">Venkateshwara Abhishekam</span>
                <br /><br />
                <a href="~/SVCCTempleSacramento/Sponsorship/1040" style="color: #ff0000; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">Click to enter Sankalpam</a>
            </td>
        }
        else
        {
            <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
                <span style="color: #ff0000; font-size: 15px; font-weight: bold;">Saturday 11am</span><br />
                <span style="color: #a54000; font-size: 15px; font-weight: bold;">Venkateshwara Abhishekam</span>
                <br /><br />
                <a href="~/SVCCTempleSacramento/Sponsorship/1040" style="color: #ff0000; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">Click to enter Sankalpam</a>
            </td>
        }
        @if (DateTime.Now.DayOfWeek == DayOfWeek.Saturday)
        {
            <td style="background-color: #d3d3d3; border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
                <span style="color: #0000ff; font-size: 15px; font-weight: bold;">Saturday 5pm</span><br />
                <span style="color: #a54000; font-size: 15px; font-weight: bold;">Aanjaneya (Hanuman) Abhishekam</span>
                <br /><br />
                <a href="~/SVCCTempleSacramento/Sponsorship/1041" style="color: #0000ff; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">Click to enter Sankalpam</a>
            </td>
        }
        else
        {
            <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
                <span style="color: #0000ff; font-size: 15px; font-weight: bold;">Saturday 5pm</span><br />
                <span style="color: #a54000; font-size: 15px; font-weight: bold;">Aanjaneya (Hanuman) Abhishekam</span>
                <br /><br />
                <a href="~/SVCCTempleSacramento/Sponsorship/1041" style="color: #0000ff; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">Click to enter Sankalpam</a>
            </td>
        }
    </tr>
    <tr>
        @if (DateTime.Now.DayOfWeek == DayOfWeek.Sunday)
        {
            <td style="background-color: #d3d3d3; border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
                <span style="color: #ff0000; font-size: 15px; font-weight: bold;">Sunday 10:30am</span><br />
                <span style="color: #a54000; font-size: 15px; font-weight: bold;">Ganapathy Abhishekam</span>
                <br /><br />
                <a href="~/SVCCTempleSacramento/Sponsorship/1035" style="color: #0000ff; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">Click to enter Sankalpam</a>
            </td>
        }
        else
        {
            <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
                <span style="color: #ff0000; font-size: 15px; font-weight: bold;">Sunday 10:30am</span><br />
                <span style="color: #a54000; font-size: 15px; font-weight: bold;">Ganapathy Abhishekam</span>
                <br /><br />
                <a href="~/SVCCTempleSacramento/Sponsorship/1035" style="color: #0000ff; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">Click to enter Sankalpam</a>
            </td>
        }
    </tr>
</table>
<br style="clear: both;" />
<table style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; margin: auto 0; padding: 5px;">
    <tr>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
            <span style="color: #ff0000; font-size: 15px; font-weight: bold;">Every Poornima</span><br />
            <span style="color: #a54000; font-size: 15px; font-weight: bold;">6:30pm Satyanarayana Puja</span>
            <br /><br />
            <a href="~/SVCCTempleSacramento/Sponsorship/1031" style="color: #0000ff; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">Click to enter Sankalpam</a>
        </td>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
            <span style="color: #0000ff; font-size: 15px; font-weight: bold;">Every Sankasht Chathurthi<br />Chathurthi after Poornima</span><br />
            <span style="color: #a54000; font-size: 15px; font-weight: bold;">Ganapathy Abhishekam<br />6:30am on Weekdays<br />7:30am on Weekends<br />6:30pm Ganapathy Abhishekam</span>
            <br /><br />
            <a href="~/SVCCTempleSacramento/Sponsorship/1032" style="color: #0000ff; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">Click to enter Sankalpam</a>
        </td>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
            <span style="color: #ff0000; font-size: 15px; font-weight: bold;">Sashti - Shukla & Krishna</span><br />
            <span style="color: #a54000; font-size: 15px; font-weight: bold;">6:30pm Subhramanya Abhishekam</span>
            <br /><br />
            <a href="~/SVCCTempleSacramento/Sponsorship/1033" style="color: #0000ff; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">Click to enter Sankalpam</a>
        </td>
    </tr>
    <tr>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
            <span style="color: #0000ff; font-size: 15px; font-weight: bold;">Pradosham - Shukla & Krishna<br />Trayodashi</span><br />
            <span style="color: #a54000; font-size: 15px; font-weight: bold;">Gangadhareshwara (Shiva) Abhishekam</span>
            <br /><br />
            <a href="~/SVCCTempleSacramento/Sponsorship/1034" style="color: #0000ff; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">Click to enter Sankalpam</a>
        </td>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
            <span style="color: #a54000; font-size: 15px; font-weight: bold;">Archana for Deity</span>
            <br /><br />
            <a href="~/SVCCTempleSacramento/Sponsorship/1001" style="color: #0000ff; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">Click to enter Sankalpam</a>
        </td>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
            <span style="color: #a54000; font-size: 15px; font-weight: bold;">Abhishekam for Deity</span>
            <br /><br />
            <a href="~/SVCCTempleSacramento/Sponsorship/1002" style="color: #0000ff; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">Click to enter Sankalpam</a>
        </td>
    </tr>
</table>
