<table style="font-family: Arial; font-size: 23px; font-weight: bold; padding: 5px; margin: auto;">
    <tr>
        <td style="background-color: #d3ffd3; border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 2px; font-size: 23px; padding: 5px; text-align: center; vertical-align: top;">
            <span style="color: #ff0000;">Aksharabyasam - October 14</span><br />
            <span style="color: #000000;">For <span style="color: #0000ff;">individual sessions</span> with priests please call the temple to schedule time</span><br />
            <span style="color: #000000;"><span style="color: #0000ff;">General group sessions</span> will be after 7pm on Oct 14 (Vijayadasami)</span><br />
            <span style="color: #a54000;">Please bring writing pad/notebook, pen/pencil, writing slate/chalk</span>
        </td>
    </tr>
    <tr>
        <td style="font-size: 27px; padding: 5px; text-align: center; vertical-align: top;">
            <img src="@ApplicationInstance.Application["SacramentoImagesBaseURL"]Navaratri_20211006_20211014.jpg" alt="Navaratri 2021 - 10/6 Wed - 10/14 Thu SVCC Temple Sacramento" title="Navaratri 2021 - 10/6 Wed - 10/14 Thu SVCC Temple Sacramento" usemap="#navaratri_2021_map" />
            <map name="navaratri_2021_map">
                <area target="_blank" alt="Navaratri 2021 - Wed 10/6 till Thu 10/14 SVCC Temple Sacramento" title="Navaratri 2021 - Wed 10/6 till Thu 10/14 SVCC Temple Sacramento" href="@ApplicationInstance.Application["SacramentoBaseURL"]/Sponsorship/1030" coords="20,42,133,121" shape="rect">
                <area target="_blank" alt="Navaratri 2021 - Wed 10/6 till Thu 10/14 SVCC Temple Sacramento" title="Navaratri 2021 - Wed 10/6 till Thu 10/14 SVCC Temple Sacramento" href="https://www.facebook.com/svcctemplesacramento" coords="670,34,783,111" shape="rect">
            </map>
        </td>
    </tr>
    <tr>
        <td style="font-size: 23px; padding: 5px; text-align: center; vertical-align: top;">
            <span style="color: #000000; font-size: 25px; font-weight: bold;">Sharan Navaratri 2021 - Wed Oct 6 - Thu Oct 14</span><br />
            <span style="color: #ff0000;">Daily - 6:30pm - Sri Lalitha Saharasnama Parayanam & Pooja</span><br />
            <span style="color: #0000ff;">Tue - Oct 12 - 4pm - Durgashtami - Chandika Homam</span><br />
            <span style="color: #ff0000;">Thu - Oct 14 - 6:30pm - Vijayadasami / Saraswati Pooja - Vidyarambam / Aksharabyasam</span><br />
            <a href="@ApplicationInstance.Application["SacramentoBaseURL"]/Sponsorship/1030" style="color: #0000ff; font-size: 23px; font-weight: bold;" target="_blank">Please click here to enter Sankalpam info</a>
        </td>
    </tr>
</table>
