<table style="font-family: Arial; font-size: 23px; font-weight: bold; padding: 5px; margin: auto;">
    <tr>
        <td style="font-size: 27px; padding: 5px; text-align: center; vertical-align: top;">
            <img src="@ApplicationInstance.Application["ImagesBaseURL"]LakshmiKubera_1.jpg" alt="Lakshmi Kubera - Coins SVCC Temple Sacramento" title="Lakshmi Kubera Coins from India SVCC Temple Sacramento" /><br />
            <img src="@ApplicationInstance.Application["ImagesBaseURL"]LakshmiKubera_2.jpg" alt="Lakshmi Kubera - Coins SVCC Temple Sacramento" title="Lakshmi Kubera Coins from India SVCC Temple Sacramento" />
        </td>
    </tr>
</table>
