@model string
<h2 style="font-weight: bold; letter-spacing: 7px; text-transform: uppercase;">svcc kiosk donation receipt</h2>
<span style="color: #0000ff; font-size: 18px; font-weight: bold;">Your receipt has been emailed and you will be redirected in <span id="time" style="color: #ff0000; font-size: 23px; font-weight: bold;"></span> seconds</span>
@Html.Raw(Model)
