<img src="@ApplicationInstance.Application["SacramentoImagesBaseURL"]/Saraswathi01.jpg" alt="SVCC Temple Sacramento Saraswathi Saraswathy" style="height: 225px; width: 225px;" title="SVCC Temple Sacramento Saraswathi Saraswathy" /><br />
<table style="background-color: #a50400; border-spacing: 4px; padding: 4px; width: 100%;">
    <tr>
        <th style="background-color:#a50400; color: #ffff00; font-family: Verdana; font-size: 10pt; font-weight: bold; padding-bottom: 9px; padding-top: 9px; text-align: center; vertical-align: middle;">
            Daily - Gangadhareshwara (Shiva) Abhishekam<br />9:30 AM
        </th>
    </tr>
    <tr>
        <th style="background-color:#a50400; color: #ffff00; font-family: Verdana; font-size: 10pt; font-weight: bold; padding-bottom: 9px; padding-top: 9px; text-align: center; vertical-align: middle;">
            Sun - Ganapathy Abhishekam<br />10:30 AM
        </th>
    </tr>
    <tr>
        <th style="background-color: #a50400; color: #ffffff; font-family: Verdana; font-size: 10pt; font-weight: bold; padding-bottom: 9px; padding-top: 9px; text-align: center; vertical-align: middle;">
            Tue - Gakara Ganapathy Sahasranamam<br />7:00 PM
        </th>
    </tr>
    <tr>
        <th style="background-color:#a50400; color: #ffff00; font-family: Verdana; font-size: 10pt; font-weight: bold; padding-bottom: 9px; padding-top: 9px; text-align: center; vertical-align: middle;">
            Fri - Saraswahti Abhishekam<br />10:00 AM
        </th>
    </tr>
    <tr>
        <th style="background-color:#a50400; color: #ffff00; font-family: Verdana; font-size: 10pt; font-weight: bold; padding-bottom: 9px; padding-top: 9px; text-align: center; vertical-align: middle;">
            Fri - Lakshmi Abhishekam<br />10:30 AM
        </th>
    </tr>
    <tr>
        <th style="background-color:#a50400; color: #ffffff; font-family: Verdana; font-size: 10pt; font-weight: bold; padding-bottom: 9px; padding-top: 9px; text-align: center; vertical-align: middle;">
            Sat - Venkateswara Suprabatham<br />9:00 AM
        </th>
    </tr>
    <tr>
        <th style="background-color:#a50400; color: #ffff00; font-family: Verdana; font-size: 10pt; font-weight: bold; padding-bottom: 9px; padding-top: 9px; text-align: center; vertical-align: middle;">
            Sat - Navagraha Abhishekam<br />10:00 AM
        </th>
    </tr>
    <tr>
        <th style="background-color:#a50400; color: #ffff00; font-family: Verdana; font-size: 10pt; font-weight: bold; padding-bottom: 9px; padding-top: 9px; text-align: center; vertical-align: middle;">
            Sat - Venkateshwara Abhishekam<br />11:00 AM
        </th>
    </tr>
    <tr>
        <th style="background-color:#a50400; color: #ffff00; font-family: Verdana; font-size: 10pt; font-weight: bold; padding-bottom: 9px; padding-top: 9px; text-align: center; vertical-align: middle;">
            Sat - Aanjaneya (Hanuman) Abhishekam<br />5:00 PM
        </th>
    </tr>
    <tr>
        <th style="background-color:#a50400; color: #ffffff; font-family: Verdana; font-size: 10pt; font-weight: bold; padding-bottom: 9px; padding-top: 9px; text-align: center; vertical-align: middle;">
            Sankashtahara Chathurthi<br />Ganapathy Homam<br />6:00 AM on Weekdays<br />7:30 AM on Weekends
        </th>
    </tr>
    <tr>
        <th style="background-color:#a50400; color: #ffff00; font-family: Verdana; font-size: 10pt; font-weight: bold; padding-bottom: 9px; padding-top: 9px; text-align: center; vertical-align: middle;">
            Sankashtahara Chathurthi<br />Ganapathy Abhishekam<br />6:30 PM
        </th>
    </tr>
    <tr>
        <th style="background-color:#a50400; color: #ffff00; font-family: Verdana; font-size: 10pt; font-weight: bold; padding-bottom: 9px; padding-top: 9px; text-align: center; vertical-align: middle;">
            Sashti (Both Shukla & Krishna Paksha)<br />Subhramanya (Karthikeya) Abhishekam<br />6:30 PM
        </th>
    </tr>
    <tr>
        <th style="background-color:#a50400; color: #ffff00; font-family: Verdana; font-size: 10pt; font-weight: bold; padding-bottom: 9px; padding-top: 9px; text-align: center; vertical-align: middle;">
            Pradosham (Both Shukla & Krishna Paksha Trayodashi)<br />Gangadhareshwara (Shiva) Abhishekam<br />6:30 PM
        </th>
    </tr>
    <tr>
        <th style="background-color:#a50400; color: #ffffff; font-family: Verdana; font-size: 10pt; font-weight: bold; padding-bottom: 9px; padding-top: 9px; text-align: center; vertical-align: middle;">
            Poornima / Pournami (Full Moon)<br />Satyanarayana Pooja, Vratha / Katha<br />6:30 PM
        </th>
    </tr>
</table>
<img src="@ApplicationInstance.Application["SacramentoImagesBaseURL"]/Muruga01.jpg" alt="SVCC Temple Sacramento Muruga Subhramanya Karthikeya" style="height: 225px; width: 225px;" title="SVCC Temple Sacramento Muruga Subhramanya Karthikeya" /><br />
<img src="@ApplicationInstance.Application["SacramentoImagesBaseURL"]/Aanjaneya01.jpg" alt="SVCC Temple Sacramento Anjaneya Hanuman" style="height: 225px; width: 225px;" title="SVCC Temple Sacramento Anjaneya Hanuman" />
