<div class="col-md-9" style="text-align: left;">
    <b>There are various systems of determining ritus/seasons as per indian astronomy. Most commonly used are:</b>
    <div>
    </div>
    <div>
    </div>
    <ul style="text-align: left;">
        <li>Chandramana -- some dharmashastra favours this</li>
        <li>Nirayana Saur Masa&nbsp;-- some dharmashastra also favours this.</li>
        <li>Sayana Saur Masa -- Jyotisha/Druka Siddhanta favours this.&nbsp;</li>
    </ul>
    <div style="text-align: left;">
        <b>The rules for determining ritus / seasons as per chandramana:</b>
    </div>
    <ul style="text-align: left;">
        <li>Vasant -- Spring (Chaitra and Vaishakha)</li>
        <li>Grishma -- Summer (Jyestha and Ashadha)</li>
        <li>Varsha -- Monsoon (Shravana and Bhadrapada)</li>
        <li>Sharad -- Autumn (Ashwin and Kartika)</li>
        <li>Hemant -- Prewinter (Margashira and Pushya/Pausha)</li>
        <li>Shishir -- Winter (Magha and Phalguna)</li>
    </ul>
    Now the problem with this system is sometimes we have adhika masa and lunar year is roughly 10 days shorter than tropical year and hence every year begining of chaitra masa slides by roughly 10 days. This ends up roughly 30 days in 3 years and compelling us to add one more extra month in the hindu calendar we call it adhika masa. We all know that seasons don't really shift based on chandramana. The Chaitra masa can start anywhere between March 20 to April 20. We already know that spring doesn't shift accordingly, likewise summer doesn't change. We already know that monsoon (in india) doesn't start based on this rules. Hence this system is not advised as per jyotisha and drika panchanga siddhanta because seasons are not corrosponding to the chandramana theory.&nbsp;However still some panchangas incorrectly use this system overriding jyotisha.
    <br /><br />
    <div style="text-align: left;">
        <b>The rules for determining ritus / seasons as per Nirayana Saur masa:</b>
    </div>
    <ul style="text-align: left;">
        <li>Vasant -- Spring (the sun in Nirayana Mina and Mesha)</li>
        <li>Grishma -- Summer (the sun in Nirayana Vrishabha and Mithuna)</li>
        <li>Varsha -- Monsoon (the sun in Nirayana Karka and Simha)</li>
        <li>Sharad -- Autumn (the sun in Nirayana Kanya and Tula)</li>
        <li>Hemant -- Prewinter (the sun in Nirayana Vrischika and Dhanush)</li>
        <li>Shishir -- Winter (the sun in Nirayana Makara and Kumbha)</li>
    </ul>
    <div style="text-align: left;">
        According to some vastanta ritu starts with Mesha samkranti.. so Vasanta will be -- Mesha &amp; Vrishabha, Grishma will be Mithuna &amp; Karka.... so on and so forth. We already know that due to precession of equinox we have two zodiac -- tropical (sayana), and sidereal (nirayana). At one point of time they were same and every year it slides by 50 seconds. &nbsp;This means once upon a time the Vasant ritu used to start at March 21st as per the nirayana calendar but now as the zodiac slides due to precision of equinox now that date is around April 14th. After 5000 years it will be somewhere in july or august. Do you ever think of having a Spring in July or August? It will never. The Actual seasons depends on the earth's tilt towards the sun and hence jyotisha grantha doesn't recommend using this system as well. However still some panchangas incorrectly use this system overriding jyotisha.
    </div>
    <br /><br />
    <div style="text-align: left;">
        <div style="margin-bottom: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px;">
            <b>The rules for determining ritus / seasons as per Druka Siddhanta:</b>
        </div>
    </div>
    <ul style="text-align: left;">
        <li>Vasant -- Spring (the sun in Sayan Mina and Mesha)</li>
        <li>Grishma -- Summer (the sun in Sayan Vrishabha and Mithuna )</li>
        <li>Varsha -- Monsoon (the sun in Sayan Karka and Simha)</li>
        <li>Sharad -- Autumn (the sun in Sayan Kanya and Tula)</li>
        <li>Hemant -- Prewinter (the sun in Sayan Vrishik and Dhanush)</li>
        <li>Shishir -- Winter (the sun in Sayan Makar and Kumbha)</li>
    </ul>
    The actual seasons&nbsp;corresponds&nbsp;to the earth's tilt. If you extend earth's&nbsp;equator&nbsp;into heavens it's celestial equator. The intersection point of sun's annular path -- ecliptic and celestial equator are called Vernal Equinox -- Spring Equinox and Autumnal Equninox. This points are also known as sayana mesha 0 and sayana tula 0 degrees respectively. Hence the positions of sayana sun should be used to determine seasons. Most drika panchanga like Date panchangam, Janmabhoomi panchanga, Govt. Of India's Rastriya panchangam and mypanchang.com will use the position of tropical sun to determine uttarayana, dakshinayana and the seasons -- Ritu.Following dates in a year where ritus will start based on drika siddhanta. Following ritus in Northern hemisphere: The order will be different for countries in Southern hemisphere.
    <br /><br />
    Now if we look at seasons. Every Ayana has 3 seasons, Uttarayana has 3 and Dakshinayana has 3 seasons. The varsha ritu (in India) starts around Jun/22. Winter is already chilly in december, from October onwards weather gets cold everywhere. The Summer really starts around April 20 where weather gets warmer. If you see a calendar where it doesn't corrosponds to these dates then its not as per drika siddhanta. Why do we have to say wrong ritu in our sankalpa? Sankalpa means resolution. We need to make correct resolutions. Then our puja will come true. Rastriya panchanga, mypanchang.com, Sri Lalbahadur Shastri Rastriya Sanskrit Vidhyapeeth Panchangam, Janmabhoomi panchangam will use drika siddhanta in ritus.
    <br /><br />
    However some people will argue that for pooja sankalpa only chandramanam should be considerred but that argument is void because as per surya siddhanta and jyotisha grantha only those things should be used in panchanga that&nbsp;corresponds&nbsp;to drika or dryasha siddhanta. We have learned seasons don't jump based on sidereal positions of luminaries but its completely astronomical thing.
    <br /><br />
    <b>Note:</b>
    <br />
    Ritus in south of equator appears as follows: Sharad, Hemant, Shishir, Vasant, Grishma, Varsha.
    <br /><br />
    Source : <a href="https://mypanchang.com/ritus.php" target="_blank">https://mypanchang.com/ritus.php</a>
</div>

