
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SVCC Temple Sacramento API Json Result</title>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
</head>
<body>
    @Html.Partial("_Top")
    <div>
        <table>
            <tr>
                <td>
                    Date (yyyy-mm-dd) :
                </td>
                <td>
                    <input id="dailyInfoDate" placeholder="yyyy-mm-dd" value="" />
                </td>
                <td>
                    <input id="dailyInfo" type="button" value="Daily Info" onclick="javascript: return dailyInfo();" />
                </td>
            </tr>
            <tr>
                <td>
                    Date (yyyy-mm-dd) :
                </td>
                <td>
                    <input id="sankalpamDate" placeholder="yyyy-mm-dd" value="" />
                </td>
                <td>
                    <input type="button" value="Sankalpam Info" onclick="javascript: return sankalpamInfo();" />
                </td>
            </tr>
            <tr>
                <td>Year Month (yyyy-mm)</td>
                <td>
                    <input id="calendarInfoDate" placeholder="yyyy-mm" value="" />
                </td>
                <td>
                    <input type="button" value="Calendar Info" onclick="javascript: return calendarInfo();" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <input type="button" value="Important Dates" onclick="javascript: return importantDatesInfo();" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <input type="button" value="Sponsorship Info" onclick="javascript: return sponsorshipInfo();" />
                </td>
            </tr>
        </table>
    </div>
    <div id="resultsDiv" style="margin: 0 auto; text-align: center; width: 100%;"></div>
    <script type="text/javascript">
        var baseURL = "@ApplicationInstance.Application["SacramentoBaseURL"]";
        function dailyInfo() {
            console.log("dailyInfo " + baseURL + "APIDailyInfo/" + document.getElementById("dailyInfoDate").value);
            $.ajax({
                url: baseURL + "APIDailyInfo/" + document.getElementById("dailyInfoDate").value,
                type: "GET",
                success: function (responseData, textStatus, request) {
                    console.log("SUCCESS!!!");
                    document.getElementById("resultsDiv").innerHTML = responseData.HtmlString;
                    var jsonObject = JSON.parse(responseData.JsonObject);
                    console.log(jsonObject);
                },
                error: function (xhr, exception) {
                    console.log("ERROR???", xhr.status);
                    console.log(xhr);
                    console.log(xhr.responseText);
                    console.log(exception);
                }
            });
            return false;
        }
        function dailyInfoSave() {
            console.log("dailyInfo " + baseURL + "APIDailyInfo/" + document.getElementById("dailyInfoDate").value);
            $.ajax({
                url: baseURL + "APIDailyInfo/" + document.getElementById("dailyInfoDate").value,
                type: "GET",
                success: function (responseData, textStatus, request) {
                    console.log("SUCCESS!!!");
                    var jsonObject = JSON.parse(responseData);
                    var tableObject = document.getElementById("resultsTable"), tr, td, text;
                    while (tableObject.rows.length > 0) {
                        tableObject.deleteRow(0);
                    }
                    tr = document.createElement('tr');

                    td = document.createElement('th');
                    td.style = "border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;";
                    text = document.createTextNode("Type");
                    td.appendChild(text);
                    tr.appendChild(td);

                    td = document.createElement('th');
                    td.style = "border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;";
                    text = document.createTextNode("Desc");
                    td.appendChild(text);
                    tr.appendChild(td);

                    td = document.createElement('th');
                    td.style = "border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;";
                    text = document.createTextNode("Start Date");
                    td.appendChild(text);
                    tr.appendChild(td);

                    td = document.createElement('th');
                    td.style = "border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;";
                    text = document.createTextNode("Start Time");
                    td.appendChild(text);
                    tr.appendChild(td);

                    td = document.createElement('th');
                    td.style = "border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;";
                    text = document.createTextNode("Finish Date");
                    td.appendChild(text);
                    tr.appendChild(td);

                    td = document.createElement('th');
                    td.style = "border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;";
                    text = document.createTextNode("Finish Time");
                    td.appendChild(text);
                    tr.appendChild(td);

                    tableObject.appendChild(tr);

                    for (var key in jsonObject) {
                        tr = document.createElement('tr');

                        td = document.createElement('td');
                        td.style = "border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;";
                        text = document.createTextNode(jsonObject[key].InfoType);
                        td.appendChild(text);
                        tr.appendChild(td);

                        td = document.createElement('td');
                        td.style = "border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;";
                        text = document.createTextNode(jsonObject[key].InfoDesc);
                        td.appendChild(text);
                        tr.appendChild(td);

                        td = document.createElement('td');
                        td.style = "border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;";
                        text = document.createTextNode(jsonObject[key].StartDate);
                        td.appendChild(text);
                        tr.appendChild(td);

                        td = document.createElement('td');
                        td.style = "border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;";
                        text = document.createTextNode(jsonObject[key].StartTime);
                        td.appendChild(text);
                        tr.appendChild(td);

                        td = document.createElement('td');
                        td.style = "border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;";
                        text = document.createTextNode(jsonObject[key].FinishDate);
                        td.appendChild(text);
                        tr.appendChild(td);

                        td = document.createElement('td');
                        td.style = "border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;";
                        text = document.createTextNode(jsonObject[key].FinishTime);
                        td.appendChild(text);
                        tr.appendChild(td);

                        tableObject.appendChild(tr);
                    }
                },
                error: function (xhr, exception) {
                    console.log("ERROR???", xhr.status);
                    console.log(xhr);
                    console.log(xhr.responseText);
                    console.log(exception);
                }
            });
            return false;
        }
        function sankalpamInfo() {
            console.log("sankalpamInfo " + baseURL + "APISankalpamInfo/" + document.getElementById("sankalpamDate").value);
            $.ajax({
                url: baseURL + "APISankalpamInfo/" + document.getElementById("sankalpamDate").value,
                type: "GET",
                success: function (responseData, textStatus, request) {
                    console.log("SUCCESS!!!");
                    document.getElementById("resultsDiv").innerHTML = responseData.HtmlString;
                    var jsonObject = JSON.parse(responseData.JsonObject);
                    console.log(jsonObject);
                },
                error: function (xhr, exception) {
                    console.log("ERROR???", xhr.status);
                    console.log(xhr);
                    console.log(xhr.responseText);
                    console.log(exception);
                }
            });
            return false;
        }
        function importantDatesInfo() {
            //console.log("importantDatesInfo");
            //$.ajax({
            //    url: baseURL + "ImportantDatesInfo/",
            //    type: "GET",
            //    success: function (responseData, textStatus, request) {
            //        console.log("SUCCESS!!!");
            //        console.log(textStatus);
            //        console.log(request);
            //        console.log(responseData);
            //        //console.log(Object.keys(responseData));
            //        //console.log(Object.values(responseData));
            //        var jsonObject = JSON.parse(responseData);
            //        console.log(jsonObject);
            //        console.log(jsonObject[0].BeginDate, jsonObject[0].EndDate);
            //        var tableObject = document.getElementById("resultsDiv"), tr, td, text;
            //        while (tableObject.rows.length > 0) {
            //            tableObject.deleteRow(0);
            //        }
            //        tr = document.createElement('tr');

            //        td = document.createElement('th');
            //        td.style = "border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;";
            //        td.colSpan = "16";
            //        text = document.createTextNode(jsonObject[0].BeginDate + " till " + jsonObject[0].EndDate);
            //        td.appendChild(text);
            //        tr.appendChild(td);

            //        tableObject.appendChild(tr);

            //        //var tableObject = document.getElementById("resultsDiv"), tr, td, text;
            //        //for (var key in jsonObject) {
            //        //    //console.log(key, jsonObject[key]);
            //        //    console.log(key, jsonObject[key].InfoType, jsonObject[key].InfoDesc, jsonObject[key].StartDate, jsonObject[key].StartTime, jsonObject[key].FinishDate, jsonObject[key].FinishTime);
            //        //    tr = document.createElement('tr');

            //        //    td = document.createElement('td');
            //        //    text = document.createTextNode(jsonObject[key].InfoType);
            //        //    td.appendChild(text);
            //        //    tr.appendChild(td);

            //        //    td = document.createElement('td');
            //        //    text = document.createTextNode(jsonObject[key].InfoDesc);
            //        //    td.appendChild(text);
            //        //    tr.appendChild(td);

            //        //    td = document.createElement('td');
            //        //    text = document.createTextNode(jsonObject[key].StartDate);
            //        //    td.appendChild(text);
            //        //    tr.appendChild(td);

            //        //    td = document.createElement('td');
            //        //    text = document.createTextNode(jsonObject[key].StartTime);
            //        //    td.appendChild(text);
            //        //    tr.appendChild(td);

            //        //    td = document.createElement('td');
            //        //    text = document.createTextNode(jsonObject[key].FinishDate);
            //        //    td.appendChild(text);
            //        //    tr.appendChild(td);

            //        //    td = document.createElement('td');
            //        //    text = document.createTextNode(jsonObject[key].FinishTime);
            //        //    td.appendChild(text);
            //        //    tr.appendChild(td);

            //        //    tableObject.appendChild(tr);
            //        //}
            //    },
            //    error: function (xhr, exception) {
            //        console.log("ERROR???", xhr.status);
            //        console.log(xhr);
            //        console.log(xhr.responseText);
            //        console.log(exception);
            //    }
            //});
            return false;
        }
        function sponsorshipInfo() {
            //console.log("sponsorshipInfo");
            //$.ajax({
            //    url: baseURL + "SponsorshipInfo",
            //    type: "GET",
            //    success: function (responseData, textStatus, request) {
            //        console.log(9, "SUCCESS!!!");
            //        //console.log(textStatus);
            //        //console.log(request);
            //        //console.log(responseData);
            //        var jsonObject = JSON.parse(responseData);
            //        console.log(jsonObject);
            //        //console.log(jsonObject[0].BeginDate, jsonObject[0].EndDate);
            //        //var tableObject = document.getElementById("resultsDiv"), tr, td, text;
            //        //while (tableObject.rows.length > 0) {
            //        //    tableObject.deleteRow(0);
            //        //}
            //        //tr = document.createElement('tr');

            //        //td = document.createElement('th');
            //        //td.style = "border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;";
            //        //td.colSpan = "16";
            //        //text = document.createTextNode(jsonObject[0].BeginDate + " till " + jsonObject[0].EndDate);
            //        //td.appendChild(text);
            //        //tr.appendChild(td);

            //        //tableObject.appendChild(tr);
            //        console.log(9.9, "SUCCESS!!!");
            //    },
            //    error: function (xhr, exception) {
            //        console.log("ERROR???", xhr.status);
            //        console.log(xhr);
            //        console.log(xhr.responseText);
            //        console.log(exception);
            //    }
            //});
            return false;
        }
        function calendarInfo() {
            console.log("calendarInfo " + baseURL + "APICalendarInfo/");// + document.getElementById("dailyInfoDate").value);
            $.ajax({
                url: baseURL + "APICalendarInfo/" + document.getElementById("calendarInfoDate").value,
                type: "GET",
                success: function (responseData, textStatus, request) {
                    console.log("SUCCESS!!!");
                    document.getElementById("resultsDiv").innerHTML = responseData.HtmlString;
                    var jsonObject = JSON.parse(responseData.JsonObject);
                    console.log(jsonObject);
                },
                error: function (xhr, exception) {
                    console.log("ERROR???", xhr.status);
                    console.log(xhr);
                    console.log(xhr.responseText);
                    console.log(exception);
                }
            });
            return false;
        }
    </script>
</body>
</html>
