@model SVCCTempleWeb.Models.BookingModel
@{
    ViewBag.Title = "Booking";
    Layout = "_Layout5.cshtml";
}
<h2>Booking</h2>
@Html.Partial("_Booking", Model)
<script type="text/javascript">
    function window_onload() {
    }
</script>
