@model List<SVCCTempleWeb.Models.ImportantDatesModel>

@{
    ViewBag.Title = "ImportantDates";
}
<h2>Recurring Schedule</h2>
@Html.Partial("_ImportantDates", Model)
<script type="text/javascript">
    function window_onload() {
    }
</script>
