@model SVCCTempleWeb.Models.SponsorListModel

@{
    ViewBag.Title = "SponsorList";
    Layout = "_Layout3.cshtml";
}

<h2>Sponsor List</h2>

@Html.Partial("_SponsorList", Model)
<script type="text/javascript">
    function window_onload() {

    }
</script>
