@model SVCCTempleWeb.Models.SponsorshipModel
@{
    ViewBag.Title = "Sponsorship";
    Layout = "_Layout2.cshtml";
}

<h2 style="font-weight: bold;">Donations / Sponsorship</h2>
@Html.Partial("_Sponsorship", Model)
