<p style="text-align: left;">
    Siddhi Vinayaka Cultural Center, Inc was incorporated in California in May 2001
</p>
<p style="text-align: left;">
    Sri Siddhi Vinayaka Cultural Center Inc started operating the Sri Siddhi Vinayaka Temple in Fremont, California beginning July 6, 2013. After years of effort, we found the location from which we believe we could serve the greater bay area community
</p>
<p style="text-align: left;">
    The organization also seeks to serve people all around the world. The areas that the organization seeks to specifically target are cultural education, contribution to worthy causes around the world without regard to geographical boundaries, social services, etc.
</p>
<p style="text-align: left;">
    The temple recognizes the importance of supporting community causes as well in order to make a difference in people’s lives in tangible terms. To that end, it supports students or families based on need, available resources and other factors. We also support the community relief efforts by giving to the Food drives from the local shelters and participating in blood drives by local organizations.
</p>
<p style="text-align: left;">
    The temple is open seven days a week and serves the community in the Fremont and surrounding bay area.
</p>
<p style="text-align: left;">
    The Shiva parivar Kumbhabhishekam took place on <b>February 7th, 8th and 9th of 2014</b>
</p>
<p style="text-align: left;">
    Vishnu Parivar Kumbhabhishekam took place on <b>May 8th, 9th and 10th of 2015</b>
</p>
<p style="text-align: left;">Please support our efforts generously. <b>We have a patron who has agreed to match up to $50,000 for all donation received between now and the end of the year</b></p>
<p style="text-align: left;">Regular services at the temple are being performed. There are classes for children and adults to teach Vishnu Sahasranamam, Sandhyavandanam, etc. We welcome volunteers who would like to volunteer their time and services to the temple</p>
<ul>
    <p>
        We are conveniently located close to the main freeways at:<br />
        40155 Blacow Rd<br />
        Fremont, CA 94538<br />
        Phone: (510) 403-4256  |  (408) 475-SVCC(7822)<br />
        Pandit Umashankar Dixit : (925) 301-0391
    </p>
    <p><a href="mailto:mailinglistfremont@svcctemple.org">mailinglistfremont@svcctemple.org</a></p>
    <p><a href="http://www.svcctemple.org/fremont">http://www.svcctemple.org/fremont</a></p>
    <p><a href="http://fremont.svcctemple.org/">http://fremont.svcctemple.org/</a></p>
    <p><a href="https://www.facebook.com/svcctemple">https://www.facebook.com/svcctemple</a></p>
</ul>
