<span style="color:#000000; font-family: Arial; font-size: 9pt;">
    Sri Siddhi Vinayaka Cultural Center, 40155 Blacow Rd, Fremont, CA 94538 Tel: (510) 403-4256 / (925) 301-0391<br />
</span>
<a href="https://www.svcctemple.org/SVCCTempleFremont/" style="color:#0000ff; font-family: Arial; font-size: 9pt;">https://www.svcctemple.org/SVCCTempleFremont/</a><br />
<a href="https://www.svcctemple.org/fremont" style="color:#0000ff; font-family: Arial; font-size: 9pt;">https://www.svcctemple.org/fremont</a><br /><br />
<a href="mailto:mailinglistfremont@svcctemple.org" style="color:#0000ff; font-family: Arial; font-size: 9pt;">mailinglistfremont@svcctemple.org</a><br /><br />
Name: Siddhi Vinayaka Cultural Center Inc, A 501(C)(3) tax exempt organization - EIN: 68-0480175<br /><br />
<div class="fb-like" data-href="https://www.facebook.com/svcctemple" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false" style="vertical-align:top;zoom:1;display:inline"></div>
<a href="https://www.facebook.com/svcctemple" target="_blank"><img src="@ApplicationInstance.Application[" FremontImagesBaseURL"]/Facebook.jpg" alt="Find us on Facebook (SVCC Temple Fremont)" title="Find us on Facebook (SVCC Temple Fremont)" /></a>
<div id="divFacebook" style="margin-left:auto;margin-right:auto;width:240px"></div>
<script type="text/javascript">
    (
        function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }
            (document, 'script', 'facebook-jssdk')
    );
</script>
<br />
@Html.Partial("_Copyright")
