@*<table style="font-family: Arial; font-size: 23px; font-weight: bold; padding: 5px; margin: auto;">
    <tr>
        <td style="font-size: 27px; padding: 5px; text-align: center; vertical-align: top;">
            <img src="@ApplicationInstance.Application["FremontImagesBaseURL"]Navaratri_20211006_20211014.jpg" alt="Navaratri 2021 - Wed 10/6 - Thu 10/14 SVCC Temple Fremont" title="Navaratri 2021 - 10/6 Wed - 10/14 Thu SVCC Temple Fremont" usemap="#navaratri_2021_map" />
            <map name="navaratri_2021_map">
                <area target="_blank" alt="Navaratri 2021 - Wed 10/6 - Thu 10/14 SVCC Temple Fremont" title="Navaratri 2021 - Wed 10/6 - Thu 10/14 SVCC Temple Fremont" href="@ApplicationInstance.Application["FremontBaseURL"]/Sponsorship/65" coords="4,31,182,137" shape="rect" />
                <area target="_blank" alt="Navaratri 2021 - Wed 10/6 - Thu 10/14 SVCC Temple Fremont" title="Navaratri 2021 - Wed 10/6 - Thu 10/14 SVCC Temple Fremont" href="https://www.facebook.com/svcctemple" coords="612,39,791,146" shape="rect" />
            </map>
        </td>
    </tr>
</table>
<table style="font-family: Arial; font-size: 23px; font-weight: bold; padding: 5px; margin: auto;">
    <tr>
        <td style="font-size: 23px; padding: 5px; text-align: center; vertical-align: top;">
            <span style="color: #000000;">Navaratri - Wed Oct 6 till Thu Oct 14</span><br />
            <span style="color: #0000ff;">Daily - 10:30am - Sri Vishnu Durga Abhishekam & Pooja</span><br />
            <span style="color: #ff0000;">Daily - 6:30pm - Sri Lalitha Saharasnama Parayanam & Kumkumarchana</span><br />
            <span style="color: #0000ff;">Fri - Oct 8 - 4:30pm - Chandi Homam</span><br />
            <span style="color: #ff0000;">Thu - Oct 14 - 6:30pm - Saraswati Pooja - Aksharabyasam / Vidyarambam</span><br />
            <span style="color: #0000ff;">Parents along with kids will be performing Pooja. Please register</span><br />
            <a href="@ApplicationInstance.Application["FremontBaseURL"]/Sponsorship/65" style="color: #ff0000; font-size: 23px; font-weight: bold;" target="_blank">Please click here to enter Sankalpam info</a><br />
        </td>
    </tr>
</table>*@
