<table class="table table-bordered table-condensed table-responsive" style="margin-left: auto; margin-right: auto; width: 63%;">
    <tr>
        <th class="text-center" colspan="5">
            Pooja @@ Temple
        </th>
    </tr>
    <tr>
        <th>
            #
        </th>
        <th>
            Pooja
        </th>
        <th>
            Donation
        </th>
        <th>
            Priest
        </th>
        <th>
            Total
        </th>
    </tr>
    <tr>
        <td class="text-center">
            1.
        </td>
        <td class="text-left">
            Ganapathy Homam
        </td>
        <td class="text-right">
            $150
        </td>
        <td class="text-right">
            $100
        </td>
        <td class="text-right">
            $250
        </td>
    </tr>
    <tr>
        <td class="text-center">
            2.
        </td>
        <td class="text-left">
            Satyanarayana Pooja
        </td>
        <td class="text-right">
            $150
        </td>
        <td class="text-right">
            $100
        </td>
        <td class="text-right">
            $250
        </td>
    </tr>
    <tr>
        <td class="text-center">
            3.
        </td>
        <td class="text-left">
            Ayush Homam
        </td>
        <td class="text-right">
            $150
        </td>
        <td class="text-right">
            $100
        </td>
        <td class="text-right">
            $250
        </td>
    </tr>
    <tr>
        <td class="text-center">
            4.
        </td>
        <td class="text-left">
            Seemantham
        </td>
        <td class="text-right">
            $250
        </td>
        <td class="text-right">
            $150
        </td>
        <td class="text-right">
            $400
        </td>
    </tr>
    <tr>
        <td class="text-center">
            5.
        </td>
        <td class="text-left">
            Namakaranam, Annaprasanam<br />
            Aksharabyasam, Keshakandanam
        </td>
        <td class="text-right">
            $100
        </td>
        <td class="text-right">
            $50
        </td>
        <td class="text-right">
            $150
        </td>
    </tr>
    <tr>
        <td class="text-center">
            6.
        </td>
        <td class="text-left">
            Upanayanam
        </td>
        <td class="text-right">
            $500
        </td>
        <td class="text-right">
            $250
        </td>
        <td class="text-right">
            $750
        </td>
    </tr>
    <tr>
        <td class="text-center">
            7.
        </td>
        <td class="text-left">
            Car (Vehicle Vahana) Pooja
        </td>
        <td class="text-right">
            $51
        </td>
        <td class="text-right">
            Per choice
        </td>
        <td class="text-right"></td>
    </tr>
</table>
<br />
<table class="table table-bordered table-condensed table-responsive" style="margin-left: auto; margin-right: auto; width: 63%;">
    <tr>
        <th class="text-center" colspan="5">
            Pooja @@ Home (Devotee)
        </th>
    </tr>
    <tr>
        <th>
            #
        </th>
        <th>
            Pooja
        </th>
        <th>
            Donation
        </th>
        <th>
            Priest
        </th>
        <th>
            Total
        </th>
    </tr>
    <tr>
        <td class="text-center">
            1.
        </td>
        <td class="text-left">
            Ganapathy Homam
        </td>
        <td class="text-right">
            $225
        </td>
        <td class="text-right">
            $175
        </td>
        <td class="text-right">
            $400
        </td>
    </tr>
    <tr>
        <td class="text-center">
            2.
        </td>
        <td class="text-left">
            Satyanarayana Pooja
        </td>
        <td class="text-right">
            $225
        </td>
        <td class="text-right">
            $175
        </td>
        <td class="text-right">
            $400
        </td>
    </tr>
    <tr>
        <td class="text-center">
            3.
        </td>
        <td class="text-left">
            Gruha Pravesam
        </td>
        <td class="text-right">
            $275
        </td>
        <td class="text-right">
            $175
        </td>
        <td class="text-right">
            $450
        </td>
    </tr>
</table>
