<table style="border-spacing: 0px; margin: auto; padding: 0px; width: 1341px;">
    <tr>
        <td style="text-align: center; width: 891px;">
            <img alt="Sri Siddhi Vinayaka Cultural Center - SVCC Temple Fremont 40155 Blacow Rd, Fremont, CA 94538 Ph : (510) 403-4256, (925) 301-0391" src="@ApplicationInstance.Application["FremontImagesBaseURL"]/HomePage/SVCCBanner2.jpg" title="Sri Siddhi Vinayaka Cultural Center - SVCC Temple Fremont 40155 Blacow Rd, Fremont, CA 94538 Ph : (510) 403-4256, (925) 301-0391" /><br />
        </td>
    </tr>
</table>
