@model List<SVCCTempleWeb.Models.ImportantDatesModel>

@{
    ViewBag.Title = "ImportantDates";
    Layout = "_Layout2.cshtml";
}
<h2>Important Dates</h2>
@Html.Partial("_ImportantDates", Model)
<script type="text/javascript">
    function window_onload() {
    }
</script>
