@{
    ViewBag.Title = "Index9";
    Layout = "~/Views/SVCCTempleFremont/_Layout9.cshtml";
}
<table style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; margin: auto 0; padding: 5px;">
    <tr>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
            <span style="color: #ff0000; font-size: 12px; font-weight: bold;">
                1.&nbsp;
            </span>
            <a alt="11am Sat 10/12 Vijaya Dashami Samoohika Akshara Abhyasam SVCC Temple Fremont" title="11am Sat 10/12 Vijaya Dashami Samoohika Akshara Abhyasam SVCC Temple Fremont" href="javascript: void(0);" onclick="javascript: document.getElementById('divVijayadasami').scrollIntoView();" style="color: #ff0000; font-size: 12px; font-weight: bold; text-decoration: underline;">
                Sat 10/12 11am Vijayadasami
            </a>
            <br>
            <span style="color: #000000; font-weight: bold;">
                Vidyarambam<br>Samoohika Akshara Abhyasam
            </span>
            <br>
            <a href="https://www.svcctemple.org/SVCCTempleFremont/KioskOrder?id=98" style="color: #a54000; font-family: Arial; font-size: 12px; font-weight: bold; text-decoration: underline;" target="_blank" alt="11am Sat 10/12 Vijaya Dashami Samoohika Akshara Abhyasam SVCC Temple Fremont" title="11am Sat 10/12 Vijaya Dashami Samoohika Akshara Abhyasam SVCC Temple Fremont">Click here to enter Sankalpam</a><br>

        </td>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
            <span style="color: #0000ff; font-size: 12px; font-weight: bold;">
                2.&nbsp;
            </span>
            <a alt="Thu Oct 3 - Oct 12 Navarathri SVCC Temple Fremont" title="Thu Oct 3 - Oct 12 Navarathri SVCC Temple Fremont" href="javascript: void(0);" onclick="javascript: document.getElementById('divNavarathri').scrollIntoView();" style="color: #0000ff; font-size: 12px; font-weight: bold; text-decoration: underline;">
                Thu 10/3 - Sat 10/12 - Navarathri
            </a>
            <br>
            <span style="color: #000000; font-weight: bold;">
                Daily 10:30am Durga Abhishekam
            </span>
            <br>
            <span style="color: #000000; font-weight: bold;">
                Daily 6pm Lalitha Sahasranamam
            </span>
            <br>
            <a href="https://www.svcctemple.org/SVCCTempleFremont/KioskOrder?id=96" style="color: #a54000; font-family: Arial; font-size: 12px; font-weight: bold; text-decoration: underline;" target="_blank" alt="Thu Oct 3 - Oct 12 Navarathri SVCC Temple Fremont" title="Thu Oct 3 - Oct 12 Navarathri SVCC Temple Fremont">Click here to enter Sankalpam</a><br>

        </td>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
            <span style="color: #ff0000; font-size: 12px; font-weight: bold;">
                3.&nbsp;
            </span>
            <a alt="6pm Thu 10/31 Diwali Deepavali Mahalakshmi Abhishekam SVCC Temple Fremont" title="6pm Thu 10/31 Diwali Deepavali Mahalakshmi Abhishekam SVCC Temple Fremont" href="javascript: void(0);" onclick="javascript: document.getElementById('divDiwali').scrollIntoView();" style="color: #ff0000; font-size: 12px; font-weight: bold; text-decoration: underline;">
                SVCC Wishes you, your family &amp; friends Happy Diwali (Deepavali)
            </a>
            <br>
            <span style="color: #000000; font-size: 12px; font-weight: bold;">
                Thu Oct 31 - 6pm Mahalakshmi Abhishekam
            </span>
            <br>
            <a href="https://www.svcctemple.org/SVCCTempleFremont/KioskOrder?id=99" style="color: #a54000; font-family: Arial; font-size: 12px; font-weight: bold; text-decoration: underline;" target="_blank" alt="6pm Thu 10/31 Diwali Deepavali Mahalakshmi Abhishekam SVCC Temple Fremont" title="6pm Thu 10/31 Diwali Deepavali Mahalakshmi Abhishekam SVCC Temple Fremont">Click here to enter Sankalpam</a><br>

        </td>
    </tr>
</table>
<div class="col-md-9" id="divVijayadasami" style="font-size: 23px; font-weight: bold; text-align: left;">
    <span style="color: #0000ff; font-size: 20px; font-weight: bold;">
        Sat Oct 12 - 11am - Vijayadashami<span style="padding: 27px;">&nbsp;</span><a href="javascript: void(0);" alt="Back to top SVCC Temple Fremont" title="Back to top SVCC Temple Fremont" onclick="javascript: document.getElementById('divUpcomingLinks').scrollIntoView();" style="color: #a54000; font-size: 23px; font-weight: bold; text-decoration: underline;">Back to top</a>
    </span>
    <img src="https://www.svcctemple.org/Images/Fremont/Vijayadashami_20241012.jpg" alt="11am Sat 10/12 Vijaya Dashami Samoohika Akshara Abhyasam SVCC Temple Fremont" title="11am Sat 10/12 Vijaya Dashami Samoohika Akshara Abhyasam SVCC Temple Fremont">
    <br>
    <div class="col-md-6" style="float: left; vertical-align: top;">
        <span style="color: #0000ff; font-size: 18px; font-weight: bold;">
            Vidyarambam
        </span>
        <br>
        <span style="color: #ff0000; font-size: 18px; font-weight: bold;">
            Samoohika Akshara Abhyasam
        </span>
        <br>
        <span style="color: #0000ff; font-size: 18px; font-weight: bold;">
            Auspicious day for teaching kids to read / write, starting new lessons in Music, Dance and more...
        </span>
        <br>
        <span style="color: #ff0000; font-size: 18px; font-weight: bold;">
            Please bring betel leaves, nuts, fruits, flowers, dry fruits, notebook / pencil / pen&nbsp;or&nbsp;slate / chalk
        </span>
    </div>
    <div class="col-md-6" style="vertical-align: top;">
        <a href="https://www.svcctemple.org/SVCCTempleFremont/KioskOrder?id=98" style="color: #ff0000; font-family: Arial; font-size: 18px; font-weight: bold; text-decoration: underline;" target="_blank" alt="11am Sat 10/12 Vijaya Dashami Samoohika Akshara Abhyasam SVCC Temple Fremont" title="11am Sat 10/12 Vijaya Dashami Samoohika Akshara Abhyasam SVCC Temple Fremont">
            Click here to enter Sankalpam
        </a>
        <br>
        <a href="https://www.svcctemple.org/Files/Vijayadashami_1.html" style="color: #000000; font-family: Arial; font-size: 18px; font-weight: bold; text-decoration: underline;" target="_blank" title="11am Sat 10/12 Vijaya Dashami Samoohika Akshara Abhyasam SVCC Temple Fremont">Click to read more about Vijayadashami...</a>
        <br>
        <a alt="Scan QR code to enter Sankalpam " title="Scan QR code to enter Sankalpam 11am Sat 10/12 Vijaya Dashami Samoohika Akshara Abhyasam SVCC Temple Fremont" href="https://www.svcctemple.org/SVCCTempleFremont/KioskOrder?id=98" target="_blank">
            <img src="https://www.svcctemple.org/Images/Fremont/QRCodes/Vijayadashami_20241012_QRCode.png" alt="Scan QR code to enter Sankalpam 11am Sat 10/12 Vijaya Dashami Samoohika Akshara Abhyasam SVCC Temple Fremont" title="Scan QR code to enter Sankalpam 11am Sat 10/12 Vijaya Dashami Samoohika Akshara Abhyasam SVCC Temple Fremont" style="height: 189px; width: 189px;">
        </a>
    </div>
</div>
<br style="clear: both;" />
<hr style="border-color: #000000; border-style: solid; border-width: 1px;" />
<div class="col-md-9" id="divNavarathri" style="font-size: 23px; font-weight: bold; text-align: left;">
    <span style="color: #0000ff; font-size: 20px; font-weight: bold;">
        Thu Oct 3 - Sat Oct 12 - Navarathri<span style="padding: 27px;">&nbsp;</span><a href="javascript: void(0);" alt="Back to top SVCC Temple Fremont" title="Back to top SVCC Temple Fremont" onclick="javascript: document.getElementById('divUpcomingLinks').scrollIntoView();" style="color: #a54000; font-size: 23px; font-weight: bold; text-decoration: underline;">Back to top</a>
    </span>
    <br>
    <img src="https://www.svcctemple.org/Images/Fremont/Navaratri_20241003_20241012.jpg" usemap="#navaratri-map" alt="Thu Oct 3 - Oct 12 Navarathri SVCC Temple Fremont" title="Thu Oct 3 - Oct 12 Navarathri SVCC Temple Fremont">
    <div class="col-md-6" style="float: left; vertical-align: top;">
        <span style="color: #ff0000; font-size: 18px; font-weight: bold;">
            Daily 10:30am Durga Abhishekam
        </span>
        <br>
        <span style="color: #0000ff; font-size: 18px; font-weight: bold;">
            Mantra Pushpam
        </span>
        <br>
        <span style="color: #ff0000; font-size: 18px; font-weight: bold;">
            Maha Mangala Aarthi
        </span>
        <br>
        <span style="color: #0000ff; font-size: 18px; font-weight: bold;">
            Theertha Prasada Viniyogam
        </span>
        <br>
        <span style="color: #ff0000; font-size: 18px; font-weight: bold;">
            Daily 6pm Lalitha Sahasranama Parayanam
        </span>
    </div>
    <div class="col-md-6" style="vertical-align: top;">
        <a href="https://www.svcctemple.org/SVCCTempleFremont/KioskOrder?id=96" style="color: #ff0000; font-family: Arial; font-size: 18px; font-weight: bold; text-decoration: underline;" target="_blank" alt="Thu Oct 3 - Oct 12 Navarathri SVCC Temple Fremont" title="Thu Oct 3 - Oct 12 Navarathri SVCC Temple Fremont">Click here to enter Sankalpam</a><br>
        <a href="https://www.svcctemple.org/Files/Navaratri_1.html" style="color: #000000; font-family: Arial; font-size: 18px; font-weight: bold; text-decoration: underline;" target="_blank" alt="Thu Oct 3 - Oct 12 Navarathri SVCC Temple Fremont" title="Thu Oct 3 - Oct 12 Navarathri SVCC Temple Fremont">Click to read more about Navaratri</a><br><br>
        <a alt="Scan QR code to enter Sankalpam Thu Oct 3 - Oct 12 Navarathri SVCC Temple Fremont" title="Scan QR code to enter Sankalpam Thu Oct 3 - Oct 12 Navarathri SVCC Temple Fremont" href="https://www.svcctemple.org/SVCCTempleFremont/KioskOrder?id=96" target="_blank">
            <img src="https://www.svcctemple.org/Images/Fremont/QRCodes/Navaratri_20241003_20241012_QRCode.png" alt="Scan QR code to enter Sankalpam Thu Oct 3 - Oct 12 Navarathri SVCC Temple Fremont" title="Scan QR code to enter Sankalpam Thu Oct 3 - Oct 12 Navarathri SVCC Temple Fremont" style="height: 189px; width: 189px;">
        </a>
    </div>
</div>
<br style="clear: both;" />
<hr style="border-color: #000000; border-style: solid; border-width: 1px;" />
<div class="col-md-9" id="divDiwali" style="font-size: 23px; font-weight: bold; text-align: left;">
    <span style="color: #0000ff; font-size: 20px; font-weight: bold;">
        Thu Oct 31 - Deepavali (Diwali) 6pm - Mahalakshmi Abishekam<span style="padding: 27px;">&nbsp;</span><a href="javascript: void(0);" alt="Back to top SVCC Temple Fremont" title="Back to top SVCC Temple Fremont" onclick="javascript: document.getElementById('divUpcomingLinks').scrollIntoView();" style="color: #a54000; font-size: 23px; font-weight: bold; text-decoration: underline;">Back to top</a>
    </span>
    <br>
    <img src="https://www.svcctemple.org/Images/Fremont/Diwali_20241031.jpg" usemap="#diwali-map" alt="6pm Thu 10/31 Diwali Deepavali Mahalakshmi Abhishekam SVCC Temple Fremont" title="6pm Thu 10/31 Diwali Deepavali Mahalakshmi Abhishekam SVCC Temple Fremont">
    <br>
    <div class="col-md-6" style="float: left; vertical-align: top;">
        <span style="color: #ff0000; font-size: 18px; font-weight: bold;">
            6pm - Mahalakshmi Abhishekam
        </span>
        <br>
        <span style="color: #0000ff; font-size: 18px; font-weight: bold;">
            Temple open 9am - 8pm
        </span>
        <br>
        <span style="color: #000000; font-size: 18px; font-weight: bold;">
            Archana
        </span>
        <br>
        <span style="color: #a54000; font-size: 18px; font-weight: bold;">
            Mantra Pushpam
        </span>
        <br>
        <span style="color: #000000; font-size: 18px; font-weight: bold;">
            Maha Mangala Aarthi
        </span>
        <br>
        <span style="color: #a54000; font-size: 18px; font-weight: bold;">
            Theertha Prasada Viniyogaha
        </span>
        <br>
        <span style="color: #ff0000; font-size: 15px; font-weight: bold;">
            SVCC Temple wishes you, your family and friends Happy &amp; Prosperous Diwali / Deepavali
        </span>
        <br>
        <span style="color: #0000ff; font-size: 15px; font-weight: bold;">
            Tue 10/29 Oct 29 Dhanteras (Trayodasi)
        </span>
        <br>
        <span style="color: #ff0000; font-size: 15px; font-weight: bold;">
            Wed 10/30 Oct 30 Narak Chaturdasi (Chhoti Diwali)
        </span>
        <br>
        <span style="color: #0000ff; font-size: 15px; font-weight: bold;">
            Thu 10/31 Oct 31 Lakshmi Puja (Amavasya)
        </span>
    </div>
    <div class="col-md-6" style="float: left; vertical-align: top;">
        <a href="https://www.svcctemple.org/SVCCTempleFremont/KioskOrder?id=99" style="color: #ff0000; font-family: Arial; font-size: 18px; font-weight: bold; text-decoration: underline;" target="_blank" alt="6pm Thu 10/31 Diwali Deepavali Mahalakshmi Abhishekam SVCC Temple Fremont" title="6pm Thu 10/31 Diwali Deepavali Mahalakshmi Abhishekam SVCC Temple Fremont">
            Click here to enter Sankalpam
        </a>
        <br>
        <a href="https://www.svcctemple.org/Files/Diwali_1.html" style="color: #000000; font-family: Arial; font-size: 18px; font-weight: bold; text-decoration: underline;" target="_blank" alt="6pm Thu 10/31 Diwali Deepavali Mahalakshmi Abhishekam SVCC Temple Fremont" title="6pm Thu 10/31 Diwali Deepavali Mahalakshmi Abhishekam SVCC Temple Fremont">Click to read more about Diwali (Deepavali)</a>
        <br>
        <a alt="Scan QR code to enter Sankalpam 6pm Thu 10/31 Diwali Deepavali Mahalakshmi Abhishekam SVCC Temple Fremont" title="Scan QR code to enter Sankalpam 6pm Thu 10/31 Diwali Deepavali Mahalakshmi Abhishekam SVCC Temple Fremont" href="https://www.svcctemple.org/SVCCTempleFremont/KioskOrder?id=99" target="_blank">
            <img src="https://www.svcctemple.org/Images/Fremont/QRCodes/Diwali_20241031_QRCode.png" alt="Scan QR code to enter Sankalpam 6pm Thu 10/31 Diwali Deepavali Mahalakshmi Abhishekam SVCC Temple Fremont" title="Scan QR code to enter Sankalpam 6pm Thu 10/31 Diwali Deepavali Mahalakshmi Abhishekam SVCC Temple Fremont" style="height: 189px; width: 189px;">
        </a>
        <br>
        <span style="color: #ff0000; font-size: 15px; font-weight: bold;">
            Fri 11/1 Nov 1 Govardhan Puja (Pratipath)
        </span>
        <br>
        <span style="color: #0000ff; font-size: 15px; font-weight: bold;">
            Sat 11/2 Nov 2 Bhaiya Dooj (Dwithiya)
        </span>
    </div>
</div>
<script type="text/javascript">
    function window_onload() {
    }
</script>
