@{
    ViewBag.Title = "IndexGenerateTempleScheduleData";
    Layout = "_Layout3.cshtml";
}
<h2>Generate Temple Schedule Data</h2>
<script type="text/javascript">
    function window_onload() {
        divTab_onclick(0);
    }
</script>
