@model SVCCTempleWeb.Models.SankalpamInfoModel
@{
    ViewBag.Title = "Sponsorship";
    //Layout = "_Layout2.cshtml";
}
<h2 style="font-weight: bold;">Sankalpam Info</h2>
@Html.Partial("_SankalpamInfo", Model)
<script type="text/javascript">
    function window_onload() {
    }
</script>
