@model SVCCTempleWeb.Models.SponsorshipReportModel

@{
    ViewBag.Title = "SponsorshipReport";
    Layout = "_Layout2.cshtml";
}

<h2>Sponsorship Report</h2>

@Html.Partial("_SponsorshipReport", Model)
<script type="text/javascript">
    function window_onload() {

    }
</script>
