@model SVCCTempleWeb.Models.UpdatePasswordModel
@{
    ViewBag.Title = "UpdatePassword";
    Layout = "_Layout2.cshtml";
}
<div class="container">
    <div class="col-md-12">
        @Html.Partial("_UpdatePassword", Model)
    </div>
</div>
<script type="text/javascript">
    function window_onload() {

    }
</script>
