<table class="table-condensed" style="padding: 5px;">
    <tr>
        <td colspan="2" style="padding: 5px; text-align: left;">
            Hello,
        </td>
    </tr>
    <tr>
        <td colspan="2" style="padding: 5px; text-align: left; vertical-align: top;">
            We appreciate you contacting @@##TempleName##@@. We will get back to you at the earliest. Below is the information you provided
        </td>
    </tr>
    <tr>
        <td style="padding: 5px; text-align: left; vertical-align: top;">
            First Name
        </td>
        <td style="padding: 5px; text-align: left; vertical-align: top;">
            @@##FirstName##@@
        </td>
    </tr>
    <tr>
        <td style="padding: 5px; text-align: left; vertical-align: top;">
            Last Name
        </td>
        <td style="padding: 5px; text-align: left; vertical-align: top;">
            @@##LastName##@@
        </td>
    </tr>
    <tr>
        <td style="padding: 5px; text-align: left; vertical-align: top;">
            Email Address
        </td>
        <td style="padding: 5px; text-align: left; vertical-align: top;">
            @@##EmailAddress##@@
        </td>
    </tr>
    <tr>
        <td style="padding: 5px; text-align: left; vertical-align: top;">
            Telephone#
        </td>
        <td style="padding: 5px; text-align: left; vertical-align: top;">
            @@##TelephoneNum##@@
        </td>
    </tr>
    <tr>
        <td style="padding: 5px; text-align: left; vertical-align: top;">
            Comments
        </td>
        <td style="padding: 5px; text-align: left; vertical-align: top;">
            @@##CommentsRequests##@@
        </td>
    </tr>
    <tr>
        <td colspan="2" style="padding: 5px; text-align: left;">
            @@##SignatureTemplate##@@
        </td>
    </tr>
</table>
