<table style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; font-family: Arial; font-size: 12px; font-weight: bold; padding: 5px; margin: auto;">
<tr>
    <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-size: 12px; padding: 5px; text-align: center; vertical-align: top;">Date</th>
    <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-size: 12px; padding: 5px; text-align: left; vertical-align: top;">Event</th>
    <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-size: 12px; padding: 5px; text-align: left; vertical-align: top;">Description</th>
    <th style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; color: #000000; font-size: 12px; padding: 5px; text-align: left; vertical-align: top;">Info</th>
</tr>
</table>
