<tr>
    <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
        @@##SeqNum##@@
    </td>
    <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
        @@##KioskItemId##@@
    </td>
    <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
        @@##KioskGroupDesc##@@
    </td>
    <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
        @@##KioskItemDesc##@@
    </td>
    <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
        @@##OrderQty##@@
    </td>
    <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
        @@##ItemRate##@@
    </td>
    <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
        @@##OrderAmount##@@
    </td>
</tr>
