<table>
    <tr>
        <td style="font-family: Arial; font-size: 15px; text-align: left;">
            <span style="font-weight: bold;">Dear Devotee,</span>
            <br /><br />
            Please find below the donation / sponsorship details (Kiosk)<br /><br />
            @@##RegisterEmailAddress##@@
            <table style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
                <tr>
                    <th colspan="2" style="background-color: #e3e3e3; border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
                        Credit Card Processing Details
                    </th>
                </tr>
                <tr>
                    <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
                        Id
                    </td>
                    <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
                        @@##SponsorshipId##@@
                    </td>
                </tr>
                <tr>
                    <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
                        Email Address
                    </td>
                    <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
                        @@##EmailAddress##@@
                    </td>
                </tr>
                <tr>
                    <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
                        Credit Card Amount
                    </td>
                    <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
                        @@##OrderAmount##@@
                    </td>
                </tr>
                <tr>
                    <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
                        Credit Card Number
                    </td>
                    <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
                        @@##CreditCardNumber##@@
                    </td>
                </tr>
                <tr>
                    <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
                        Comments
                    </td>
                    <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
                        @@##KioskOrderComments##@@
                    </td>
                </tr>
                <tr>
                    <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
                        Process Status
                    </td>
                    <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
                        @@##CreditCardProcessMessage##@@
                    </td>
                </tr>
                <tr>
                    <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
                        Unique Ref#
                    </td>
                    <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
                        @@##UniqeRefId##@@
                    </td>
                </tr>
            </table>
            <br /><br />
            <table style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
            <tr>
                <th style="background-color: #e3e3e3; border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
                    Seq#
                </th>
                <th style="background-color: #e3e3e3; border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
                    Item#
                </th>
                <th style="background-color: #e3e3e3; border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
                    Group Desc
                </th>
                <th style="background-color: #e3e3e3; border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
                    Item Desc
                </th>
                <th style="background-color: #e3e3e3; border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
                    Qty
                </th>
                <th style="background-color: #e3e3e3; border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
                    Rate
                </th>
                <th style="background-color: #e3e3e3; border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
                    Amount
                </th>
            </tr>
            @@##KioskOrderItems##@@
            </table>
            <br /><br />
            @@##SignatureTemplate##@@
        </td>
    </tr>
</table>
