<table style="font-family: Arial; font-size: 23px; font-weight: bold; padding: 5px; margin: auto;">
    <tr>
        <td style="color: #0000ff; font-size: 27px; padding: 5px; vertical-align: top;">
            <img src="https://www.svcctemple.org/Images/Fremont/Dieties/@@##ImageName1##@@" alt="@@##EventName1##@@ - @@##EventDesc1##@@ - @@##EventDateTime##@@ SVCC Temple Fremont" title="@@##EventName1##@@ - @@##EventDesc1##@@ - @@##EventDateTime##@@ SVCC Temple Fremont" />
        </td>
        <td style="color: #0000ff; font-size: 27px; padding: 5px; text-align: center; vertical-align: top;">
            <span style="color: #000000;">@@##EventDateTime##@@</span><br />
            <span style="color: #0000ff;">@@##EventName1##@@</span><br />
            <span style="color: #0000ff;">@@##EventName2##@@</span><br />
            <span style="color: #ff0000;">@@##EventDesc1##@@</span><br /><br />
            <a href="https://www.svcctemple.org/SVCCTempleFremont/Sponsor/@@##SponsorshipGroupId##@@" style="color: #ff0000; font-size: 25px; font-weight: bold; text-decoration: underline;" target="_blank">Please click here to enter Sankalpam</a><br />
            <a href="https://www.facebook.com/SVCCTemple" style="color: #0000ff; font-size: 25px; font-weight: bold; text-decoration: underline;" target="_blank">Please click here to watch live !!!</a>
        </td>
    </tr>
</table>
<hr style="background-color: #000000; display: block; font-size: 27px; font-weight: bold; height: 2px;" />
