<span style="background-color: #deecf9;">
    Should you have questions, please do not hesitate to call us at one of the below numbers
    <br />
    Alternatively <a href="@@##BaseUrl##@@/@@##ContactUsUrl##@@/1" target="_blank">Contact Us Here</a> to let us know.
</span>
<br /><br />
Name: Siddhi Vinayaka Cultural Center Inc, A 501(C)(3) tax exempt organization<br />
EIN: 68-0480175
<br /><br />
May Lord Ganesha Bless One And All<br />
Lokha Samastha Sukhino Bhavanthu<br /><br />
Regards,<br />
@@##TempleName##@@<br />
@@##TempleFullName##@@<br />
@@##TempleAddressLine1##@@<br />
@@##TempleCityName##@@, @@##TempleStateAbbrev##@@ @@##TempleZipCode##@@<br />
Ph : @@##TemplePhone1##@@<br />
Ph : @@##TemplePhone2##@@<br />
Ph : @@##TemplePhone3##@@<br />
Ph : @@##TemplePhone4##@@<br />
<a href="@@##TempleWebUrl1##@@" target="_blank">@@##TempleWebUrl1##@@</a><br />
<a href="@@##TempleWebUrl2##@@" target="_blank">@@##TempleWebUrl2##@@</a><br />
<a href="@@##TempleWebUrl3##@@" target="_blank">@@##TempleWebUrl3##@@</a><br />
<a href="@@##TempleFacebookUrl##@@" target="_blank">@@##TempleFacebookUrl##@@</a><br />
<a href="mailto:@@##FromEmailAddress##@@" target="_blank">@@##FromEmailAddress##@@</a><br />
@@##ServerDateTime##@@
