<tr>
    <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
        @@##SeqNum##@@
    </td>
    <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
        @@##SponsorshipListId##@@
    </td>
    <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
        @@##SponsorshipGroupDesc##@@
    </td>
    <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
        @@##SponsorshipListDesc##@@
    </td>
    <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
        @@##SponsorQty##@@
    </td>
    <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
        @@##SponsorshipListRate##@@
    </td>
    <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px;">
        @@##SponsorAmount##@@
    </td>
</tr>
