<table>
    <tr>
        <td style="font-family: Arial; font-size: 15px; text-align: left;">
            <span style="font-weight: bold;">Dear Devotee,</span>
            <br /><br />
            You have successfully updated the password for the email address @@##UpdatePasswordEmailAddress##@@ with @@##TempleName##@@<br />
            <br /><br />
            If you did not intend to do this, pleae contact our support staff
            <br /><br />
            @@##SignatureTemplate##@@
        </td>
    </tr>
</table>
